@model Geekopoly.Models.GameModel
@inject IJsonHelper Json;

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/p5.js" asp-append-version="true"></script>
    <script src="~/js/vue.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" asp-append-version="true"></script>
    <script src="~/js/Tile.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/sketch.js"></script>
    <script src="~/js/Player.js"></script>
    <script src="~/js/category_class.js"></script>
    <script src="~/js/Counter.js"></script>



</head>

<body>

    <br />
    <p>
        <a class="text" asp-action="Create">Create New Board</a>
    </p>
    <br />

    <p>
        <a class="text" asp-action="Quit">Quit game</a>
    </p>
    <div id="playerOnBoard">
        <script>reloader();</script>
        <div id="dice">
            <input type="hidden" name="numbers" v-model="numbers">
            <button id="reloader" v-on:click="sendToServer" onclick="reloader()">Roll dices</button>
        </div>
        <div id="content">
            <p>Dices values: @Model.dices_value[0].numbers</p>

            @foreach (var p in Model.player_list)
            {
                <p>@p.name - Position: @p.position - Money: @p.amount_of_cash - In Jail?: @p.is_in_jail </p>
            }
        </div>

        <br />
    </div>

</body>
</html>